#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 50rem;
  margin: -16px auto 10rem;
  overflow: hidden;
  
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  box-shadow: 0 6px 24px 2px rgba(124, 122, 122, 0.6);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 20rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.profile-pic:hover {
  transform: scale(1.2);
  transform-origin: center;
}


h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  font-family: var(--font-family);
  font-weight: 500;
}

h1::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color:#b7b5e0;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

h3 {
  font-size: 32px;
  width: 100%;
  margin: 2rem auto;
  font: var(--font-family);
  letter-spacing: 2px;
  text-align: center;
}

