
#about {
  position: relative;
}

h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  position: relative;
  font-family: var(--font-family);
  font-weight: 600;


  
}


.profile-pic {
   width: 20rem;
   transform: translateX(190%);
   margin-top: 3rem;
   box-shadow: 0 4px 6px rgb(139, 130, 137);
   border-radius: 50%;

 
}

h3 {
  font-size: 45px;
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  max-width: 50rem;
  margin-left: 25%;
  margin-top: 2rem;
  font: var(--font-family);
  text-align: center;
}

h1::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 4px;
  background-color: #4c0434;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}


.star {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 1;
}

.star1 { top: 33%; left: 39%; }
.star2 { top: 33%; right: 38%; }
.star3 { top: 50%; left: 37%; }
.star4 { bottom: 30%; left: 40%; }
.star5 { bottom: 45%; right: 37%; }
.star6 { bottom: 30%; right: 39%; }
