#social-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 130px;
}

#social-links h2 {
  position: relative;
  display: flex;
  justify-content: center;
  font: var(--font-family);
  font-size: 2rem;
 }

  
#social-links h2:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 4px;
  background-color:#B7B5E0;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-54%);
  border-radius: 2px;
}

.media {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 50px;
}

.media img {
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
}

.media img:hover {
  transform: translateY(-10px);
}