* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'DM sans'sans-serif;
  padding-top: 60px;
}

:root {
  --primary-color: #ffff;
  --secondary-color:#741849;
  --font-family: 'DM sans' sans-serif;
}