* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'DM sans'sans-serif;
}

:root {
  --primary-color: #ffff;
  --secondary-color:#BF91A9;
  --deco-color:#741849;
  --font-family: 'DM sans' sans-serif;
  --font-nav: 800 50px  'DM sans' sans-serif;
  --font-text: 400 70px 'DM sans' sans-serif;
  --font-h2: 500 100px  'DM sans' sans-serif;
}