* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'DM sans'sans-serif;
  padding-top: 60px;
}


section {
  margin-bottom: 300px;
  scroll-margin-top: 200px; 
}
