
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  z-index: 1000; /* Garante que fique sobre outros elementos */
  background-color: #790853;
  padding: 10px;
  box-shadow: 0 2px 10px rgb(169, 153, 153); 
}

.buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}

.lang, .toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.lang:hover, .toggle:hover {
  background-color:rgb(180, 0, 92); 
  border-radius: 4px; 
  padding: 2px;
}


.nav-content {
  display: flex;
  align-items: center;
  gap: 25px;  /* Espaçamento entre os conjuntos (ícone + texto) */
}

.nav-content a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--primary-color);
  margin-right: 50px;
}

.nav-content a:hover {
  transition: 0.1s;
  color:rgb(250, 0, 92);  


}



.nav-content .icon {
  width: 25px;
  margin-right: -19px;  /* Distância pequena entre o ícone e o texto */
}

.icon:hover {
background-color:rgb(180, 0, 92); 
padding: 4px;
border-radius: 4px; 

}
