#skills {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  height: 100vh; /* Ocupa toda a altura da tela */
  text-align: center;
}



.skills-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}



.img {
  margin: 0 50px;
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease;
}

#skills h2 {
  font-size: 2.0rem;
  margin: 0 ;
  text-align: center;
  font-weight: 500;
  position: relative;
}

#skills h2:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 4px;
  background-color: #b7b5e0;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-54%);
  border-radius: 2px;
  margin: 10rem 0 auto;
}
.css:hover {
  transform: translateY(-10px);
}

.html:hover {

  transform: translateY(-10px);
}

.figma:hover {
  transform: translateY(-10px);
}